/* 
.padre{
    margin-top: 50px;
}



.ayuda{
    display:inline;
    padding: 10px;
    background-color: red;
    margin-left: 10px;
}
 */
.container{
    background-image: url(img/flex-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    background-position: center center;
    position: relative;
}
.primero{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
